[phases.setup]
nixPkgs = ["nodejs", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = [
  "npx prisma generate",
  "npx prisma migrate deploy",
  "npm run build"
]

[start]
cmd = "npm run start"
